.app{
    width:fit-content;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.square{
    border: 1px solid black;
    width: 30%;
    resize: none;
    height: 35%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.square p{
    font-size: 90px;
    font-weight: bold;
    text-align: center;
}
h1{
    text-align: center;
}